<!-- This is home.html -->
{% extends "layout.html" %}
{% block content %}
<div class="home-page">
  <section class="hero">
    <h1 class="hero-title">Sandeep Kumar Kuanar</h1>
    <p class="hero-bio">
      Developer, Physics undergrad, and writer at IISER-Kolkata. Currently
      learning Rust to build low-level infra adhering and AI/ML models to the
      UNIX philosophy. I have made
      <a href="#" class="project-link">Project 1</a>,
      <a href="#" class="project-link">Project 2</a>. Currently running a
      discord community dedicated to AI/ML from systems-thinking first
      principles.
    </p>
  </section>
</div>
{% endblock %}
