<!-- This is blogs.html -->
{% extends "layout.html" %}
{% block content %}
<section class="blog-list">
  <p class="blog-list-title">
    <a href="{{ url_for('main_page') }}">Home</a>
    ->
    Writings
  </p>
  {% for post in posts %}
  <article class="blog-post">
    <h2 class="post-title">
      <a href="{{ url_for('post_detail', post_id=post.id) }}">{{ post.title }}</a>
    </h2>    
    <div class="post-meta">
      <span class="post-author">{{ post.author.username }}</span>
      <span class="post-date">{{ post.date_posted.strftime('%B %d, %Y') }}</span>
    </div>
  </article>
  {% else %}
  <p class="no-posts">No posts yet. Check back soon!</p>
  {% endfor %}
</section>
{% endblock %}
