<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{title}} | Sandeep Kumar Kuanar</title>
    {% else %}
      <title>Sandeep Kumar Kuanar</title>
    {% endif %}
    <style>
      .invalid {
        color: #dc3545;  /* Bootstrap's danger red */
        font-size: 0.875em;
        margin-top: 0.25rem;
      }
    </style>
  </head>
  <body>
    {% with messages=get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class = "alert alert-{{category}}">
          {{message}}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %} {% endblock %} 
  </body>
</html>
